.contenedorDetalles{
    width: 90%;
    height: 70%;
    display: flex;
    margin:50px auto 50px auto;
    background-color:  #F4F6F6;
    box-shadow: 0 40px 20px 3px rgba(0, 0, 0, 0.12);
}
.contenedorCaracteristicas{
    width: 40%;
    margin: auto;
    justify-content: center;
    text-align: justify;
    padding: 5px;
}
.boxPicture{
    width: 300px;
    height: 300px;
    padding: 10px;
}
.contenedorCount{
    width: 300px;
    margin: auto;
}
.BotonFin{
    width: 200px;
    margin: px;
    border-radius: 100px;
    text-decoration: none;
    border-style: 2px black;
}
.BotonFin:hover{
    background-color: #AED6F1;
}

@media screen and (min-width: 0px) and (max-width: 820px) {
    .contenedorDetalles{
        height: 100%;
        display: block;
        justify-content: center;
    }
    .contenedorCount{
        width: 300px;
        margin: auto;
    }
}  
