.contenedorIconCarrito{
    display: flex;
    width: 70px;
    height: 40px;
    align-items: center;
	margin: 12px;
	border-color: rgba(0,0,0,0);
	border-radius: 100px;
	box-shadow: inset 0px -2px 5px 0 rgba(0, 0, 0, 0.5), inset 0px 2px 5px 0 rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 0.2);
}
.contenedorIconCarrito:hover{
    background-color: #85F4FF;
}
img{
    width: 30px;
    height: 30px;
}
.linkstyle{
    text-decoration: none;
}