.contenedorCartList{
    width: 90%;
    height: 70%;
    display: flex;
    margin:auto;
    background-color:  #F4F6F6;
    border-bottom: 2px solid black;
}
.imagenProducto{
    width: 35%;
    height: 95%;
    padding: 10px;
}
.contenedorRemover{
    width: 100px;
    margin: auto 10px;
    border-radius: 100px;
    text-decoration: none;
    border-style: 2px black;
}
.contenedorRemover:hover{
    background-color: #AED6F1;
}
