.ContenedorItem{
    width: auto;
    height: auto;
    margin: 5px;
    background-color:  #F4F6F6;
    box-shadow: 0 40px 20px 3px rgba(0, 0, 0, 0.12);
    text-decoration: none;
    color: black;
}
.ContenedorItem:hover{
    transform: scale(1.03);
    color: black;
}
.boxImage{
    width: 175px;
    height: 150px;
    margin-top: 5px;
}
.title{
    font-size: 1.5em;
}

