.ContainerCounter{
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #F4F6F6;
}
.Boton{
    margin: 5px;
    border-radius: 100px;
    padding: 2px 15px;
    font-weight: bold;
}